{% extends 'base.html.twig' %}

{% block title %}About - Online Book Club{% endblock %}

{% block body %}
<h1>Here learn some tips about us</h1>
    <p>This is a platform that will build local communities around you. It is a nice way to meet new people, learn new things, get out
    of your comfort zones, and finally to purse your passions together. These book clubs are growing in popularity across ireland.</p>

{% endblock %}
