{% extends 'base.html.twig' %}

{% block title %}Online Book Clubs{% endblock %}

{% block body %}
   <h1>Welcome, Please Login to Join a club!</h1>
    <img src="/images/Home_page.jpg" class="img-fluid" alt="Welcome">

{% endblock %}
