<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Online book clubs{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}
        <style>

            body{
                font-family: Oswald;
                background-color: #FFB6C1;
                color: white;
            }

        </style>

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{ url('home') }}">Online Book Clubs</a>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url('home') }}">
                        Home
                    </a>
                </li>
                <li>
                    <a href = "{{ url('about') }}">
                        About
                    </a>
                </li>
                <li>
                    <a href="{{ url('siteMap') }}">
                        SiteMap
                    </a>
                </li>
            </ul>
        </nav>

        <hr>
        {% block body %}{% endblock %}
    </body>
</html>
